@import './../../shared/scss/mixins.scss';
@import './../../shared/scss/theme.scss';
@import './../../shared/scss/keyframes.scss';


section {
    position: relative;
    @include flex($justify: center, $align: center);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    overflow: hidden;
    min-width: 289px;

    &:hover {
        scale: 1.03;
    }
}

.weather-header {
    @include absolute($top: 0);
    @include flex($justify: space-between);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.temp {
    @include absolute($top: 50%);
    font-size: 70px;

    @include respond-to('l-desktop') {
        font-size: 54px;
    }

    @include respond-to('phone-landscape') {
        font-size: 44px;
    }
}

.detail-img {
    @include flex($direction: column, $align: center);
    width: fit-content;
    text-align: center;

    img {
        width: 70px;

        @include respond-to('phone-landscape') {
            width: 50px;
        }
    }
}

.detail {
    @include flex($direction: column, $align: center);
}


.weather-details {
    @include absolute($bottom: 0);
    @include flex($justify: space-between, $align: end);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;

    p {
        margin: 0;
    }

    @include respond-to('l-desktop') {
        p {
            font-size: 14px;
        }
    }
}


.details-icon {
    width: 30px;
    height: 30px;
}