<section>



    <mat-card appearance="outlined">
        <table class="user-table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>City</th>
            </tr>

            @for (cust of customers; track $index) {
            <tr [routerLink]="['/user/' + cust.id]">
                <td>{{cust.firstName}} {{cust.lastName}}</td>
                <td>{{cust.email}}</td>
                <td>{{cust.city}}</td>
            </tr>
            }


        </table>
    </mat-card>


    <button (click)="openDialog()" class="add-user-btn" mat-fab matTooltip="Add user" matTooltipPosition="above">
        <mat-icon>add</mat-icon>
    </button>



</section>
