<div class="dialog-container">

    @if (loading) {
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }


    <div class="headline">Add user</div>
    <mat-dialog-content>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>First name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.firstName" matInput placeholder="First Name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Last name</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.lastName" matInput placeholder="Last Name">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width">
                <mat-label>User Role</mat-label>
                <select [(ngModel)]="user.userRole" matNativeControl required>
                    <option value="gust">Gust(Read-Only)</option>
                    <option value="admin">Admin</option>
                    <option value="manager">Manager</option>
                    <option value="support">Support</option>
                    <option value="sales">Sales</option>
                    <option value="marketing">Marketing</option>
                    <option value="finance">Finance</option>
                    <option value="external">External Partner</option>
                    <option value="developer">Developer</option>
                </select>
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>E-Mail</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.email" matInput placeholder="E-Mail">
            </mat-form-field>
        </div>


        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Birth Date</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.birthDate" matInput placeholder="Placeholder"
                    [matDatepicker]="picker">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <!-- <mat-hint>Please enter a date</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Street + House No.</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.street" matInput placeholder="Placeholder">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>

        <div>
            <mat-form-field class="mr-16" appearance="outline">
                <mat-label>Zip code</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.zipCode" matInput placeholder="Placeholder">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input [disabled]="loading" [(ngModel)]="user.city" matInput placeholder="Placeholder">
                <!-- <mat-hint>Please enter a name</mat-hint> -->
            </mat-form-field>
        </div>


    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Cancel</button>
        <button mat-button (click)="saveUser()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>

</div>