@mixin flex($direction: row, $align: stretch, $justify: flex-start) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin grid-layout($columns, $gap: 10px) {
  display: grid;
  grid-template-columns: $columns;
  gap: $gap;
}

@mixin slideInAnimation($delay: 0s) {
  opacity: 0;
  animation: slideIn 0.6s ease-out forwards;
  animation-delay: $delay;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}