.dark-mode {
    background-color: rgba(23, 30, 61, 0.5);

    &:hover {
        background-color: rgba(23, 30, 61, 0.8);
    }
}

.light-mode {
    background-color: rgba(141, 190, 252, 0.5);

    &:hover {
        background-color: rgba(141, 190, 252, 0.8);
    }
}


.dark {
    background-color: rgba(23, 30, 61, 0.5);
}

.light {
    background-color: rgba(141, 190, 252, 0.5);
}