<div class="overview-container" routerLink="/todos" [ngClass]="theme.darkMode() ? 'dark-mode' : 'light-mode'">
    <div class="overview-header" [ngClass]="theme.darkMode() ? 'dark-mode' : 'light-mode'">
        <span>Todo List</span>
        <span>{{ filteredTasks.length }}</span>
    </div>


    <div class="overview-todos-container">

        @if (filteredTasks.length > 0) {
        <ul class="todos-list-conatiner">
            @for (task of filteredTasks; track task.id; let i = $index) {
            <li class="todos">
                <span>{{ task.title }} </span> <span><img class="checked-img" [src]="task.completed ? '/assets/icon/checkbox-on.svg' : '/assets/icon/checkbox-off.svg'"
                    alt="" (click)="toggleTaskCompletion(task, i)"></span>
            </li>
            }
        </ul>
        } @else {
        <p>Keine Todos für heute.</p>
        }

    </div>

</div>

<!-- - {{ task.timestamp | date: 'short' }} -->