


<div class="overview-container" routerLink="/todos" [ngClass]="theme.darkMode() ? 'dark-mode' : 'light-mode'">
    <div class="overview-header" [ngClass]="theme.darkMode() ? 'dark-mode' : 'light-mode'">
        <span>Todo List</span>
        <span>{{ filteredTasks.length }}</span> 
    </div>


    <div class="overview-todos-container">
        


        @if (filteredTasks.length > 0) {
        <ul class="todos-list-conatiner">
            @for (task of filteredTasks; track task.id) {
            <li class="todos">
                {{ task.title }} - {{ task.timestamp | date: 'short' }}
            </li>
            }
        </ul>
        } @else {
        <p>Keine Todos für heute.</p>
        }

    </div>

</div>