<div class="headline">
  <span>T</span>
  <span>o</span>
  <span>d</span>
  <span>o</span>
  <span>&nbsp;</span>
  <span>L</span>
  <span>i</span>
  <span>s</span>
  <span>t</span>
</div>

<div class="month-display-container">
  <button (click)="calendar.changeMonth(-1)">previous</button>
  <p>{{calendar.getMonthName()}}</p>
  <button (click)="calendar.changeMonth(1)">next</button>
</div>


<div class="todos-day-container">
  <nav class="todo-day-nav">
    @for (dayInfo of calendar.daysInMonth; track $index) {
    <app-date-grid [dayNumber]="dayInfo.day" [dayName]="dayInfo.dayName" [index]="$index" [isToday]="dayInfo.isToday"
      [isSelected]="isSelectedDay(dayInfo.day)" (daySelected)="selectDayFromGrid(dayInfo.day)">
    </app-date-grid>
    }
  </nav>
</div>


<section>

  @if (selectedDay !== null) {
  @for (task of filteredTasks; track task.id) { <!-- Hier filteredTasks verwenden -->
  <app-todo-task [task]="task"></app-todo-task>
  }
  }


  <button (click)="openDialog()" class="add-task-btn" mat-fab matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
  </button>


</section>