@import './../shared/scss/keyframes.scss';
@import './../shared/scss/mixins.scss';

.headline {
    display: flex;
    font-size: 78px;
    padding: 50px;
    color: whitesmoke;
}

.headline span {
    opacity: 0;
    transform: translateY(-20px);
    animation: appear 0.5s forwards;
}

/* Verzögere die Animation für jeden Buchstaben */
.headline span:nth-child(1) {
    animation-delay: 0s;
}

.headline span:nth-child(2) {
    animation-delay: 0.02s;
}

.headline span:nth-child(3) {
    animation-delay: 0.04s;
}

.headline span:nth-child(4) {
    animation-delay: 0.06s;
}

.headline span:nth-child(5) {
    animation-delay: 0.08s;
}

.headline span:nth-child(6) {
    animation-delay: 0.10s;
}

.headline span:nth-child(7) {
    animation-delay: 0.12s;
}

.headline span:nth-child(8) {
    animation-delay: 0.14s;
}

.headline span:nth-child(9) {
    animation-delay: 0.16s;
}

.headline span:nth-child(10) {
    animation-delay: 0.18s;
}

.headline span:nth-child(11) {
    animation-delay: 0.20s;
}