section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: rgba(23, 30, 61, 0.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.dark-mode {
    background-color: rgba(23, 30, 61, 0.5);

    &:hover {
        background-color: rgba(23, 30, 61, 0.8);
        scale: 1.05;
    }
}

.light-mode {
    background-color: rgba(141, 190, 252, 0.5);

    &:hover {
        background-color: rgba(141, 190, 252, 0.8);
        scale: 1.05;
    }
}

.date-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.date-day {
    position: absolute;
    top: 50%;
    font-size: 70px;
}

.date-footer {
    position: absolute;
    bottom: 0;
    padding: 20px;
}