@import './../../shared/scss/mixins.scss';
@import './../../shared/scss/theme.scss';

section {
    @include flex($justify: center, $align: center);
    position: relative;
    border-radius: 20px;
    background-color: rgba(23, 30, 61, 0.5);
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: all ease-in-out 100ms;

    &:hover {
        scale: 1.03;
    }
}

.date-header {
    @include absolute($top: 0);
    @include flex($justify: space-between);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.date-day {
    @include absolute($top: 50%);
    font-size: 70px;

    @include respond-to('l-desktop') {
        font-size: 54px;
    }

    @include respond-to('phone-landscape') {
        font-size: 44px;
    }
}

.date-footer {
    @include absolute($bottom: 0);
    padding: 20px;

    @include respond-to('l-desktop') {
        font-size: 14px;
    }
}