@import './../shared/scss/keyframes.scss';
@import './../shared/scss/mixins.scss';
@import './../shared/scss/theme.scss';


.wrapper-center {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
}

section {
    @include grid-layout($columns: 1fr 1fr, $gap: 20px);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.search-notes-container {
    @include flex($direction: column-reverse, $align: center);
    width: 50%;
    height: fit-content;
    gap: 20px;
    border: 1px solid;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 40px;
    padding: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    input {
        width: 100%;
        padding: 10px 20px;
        color: whitesmoke;
        font-size: 18px;
    }

    input::placeholder {
        font-weight: bold;
        opacity: 0.5;
        color: whitesmoke;
    }

}

.add-note-btn {
    color: whitesmoke;
}