@import './../shared/scss/keyframes.scss';
@import './../shared/scss/mixins.scss';


section {
    display: flex;
    // flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}




.search-notes-container {
    width: 50%;
    height: 60px;
    border: 2px solid;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 auto 40px;

    input{
        width: 100%;
        padding: 10px 20px;
        background-color: unset;
        background-color: rgba(141, 190, 252, 0.5);
        color: whitesmoke;
        font-size: 18px;
    }

    input::placeholder {
        font-weight: bold;
        opacity: 0.5;
        color: whitesmoke;
      }



}




/////////////

.dark-mode {
    background-color: rgba(23, 30, 61, 0.5);

    &:hover {
        background-color: rgba(23, 30, 61, 0.8);
    }
}

.light-mode {
    background-color: rgba(141, 190, 252, 0.5);

    &:hover {
        background-color: rgba(141, 190, 252, 0.8);
    }
}



//////////////