<section class="wrapper-center">

    <div class="container">

        <div class="headline">
            <span>N</span>
            <span>o</span>
            <span>t</span>
            <span>e</span>
            <span>s</span>
        </div>

        <div class="search-notes-container">
            <input type="text" placeholder="Search Notes" [ngClass]="theme.darkMode() ? 'dark-mode' : 'light-mode'">


            <button (click)="openDialog()" class="add-note-btn" mat-fab matTooltip="Add note" matTooltipPosition="above"
                [ngClass]="theme.darkMode() ? 'dark-mode' : 'light-mode'">
                <mat-icon>add</mat-icon>
            </button>

        </div>

        <section>
            @for (note of notes; track $index) {
            <app-note [title]="note.title" [noteDescription]="note.description"></app-note>

            }

        </section>

    </div>

</section>