<mat-card appearance="outlined">
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Peter</td>
            <td>peter&#64;mail.com</td>
            <td>gdfdfhdfgdf</td>
        </tr>

        <tr>
            <td>Peter</td>
            <td>peter&#64;mail.com</td>
            <td>gdfdfhdfgdf</td>
        </tr>
    </table>
</mat-card>



<button (click)="openDialog()" class="add-user-btn" mat-fab matTooltip="Add user" matTooltipPosition="above">
    <mat-icon>add</mat-icon>
</button>