@import './../shared/scss/keyframes.scss';
@import './../shared/scss/mixins.scss';
@import './../shared/scss/theme.scss';

.wrapper-center {
    display: flex;
    justify-content: center;
}

.container {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 1440px;
}

.add-user-btn {
    position: absolute;
    right: 56px;
    bottom: 56px;
}

mat-card {
    background-color: unset;
    overflow: hidden;
    border: unset;
}

.user-table {
    width: 100%;
    padding: 10px 20px;
    border-collapse: collapse;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    @include slideInAnimation(0.2s);

    @include respond-to('desktop') {
        display: flex;
        flex-direction: column;
    }

    th {
        color: rgba(0, 0, 0, 0.4);
        font-size: 14px;
        font-weight: 500;
        text-align: start;

        @include respond-to('desktop') {
            display: flex;
            flex-direction: column;
        }
    }

    tr {
        border-bottom: solid 1px rgba(0, 0, 0, 0.4);
        transition: all ease-in-out 100ms;
        cursor: pointer;

        &:first-child {
            cursor: unset;

            &:hover {
                background-color: unset;
            }
        }

        &:last-child {
            border-bottom: 0;
        }

        td {
            height: 58px;

            &:first-child {
                padding-left: 16px;
            }

            @include respond-to('desktop') {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        th {

            &:first-child {
                padding-left: 16px;
            }

            @include respond-to('desktop') {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 1px;
}

.role-td {
    display: flex;
    align-items: center;
    gap: 10px;
}