mat-card {
    position: relative;
    // flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    border: none;
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}


.countNumber {
    position: absolute;
    top: 50%;
    font-size: 70px;
}


.overview-card-header {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}


.dark-mode {
    background-color: rgba(23, 30, 61, 0.5);
    &:hover {
        background-color: rgba(23, 30, 61, 0.8);
        scale: 1.05;
    }
}


.light-mode {
    background-color: rgba(141, 190, 252, 0.5);
    &:hover {
        background-color: rgba(141, 190, 252, 0.8);
        scale: 1.05;
    }
}