@import './../../shared/scss/mixins.scss';
@import './../../shared/scss/keyframes.scss';
@import './../../shared/scss/theme.scss';

mat-card {
    position: relative;
    @include flex($justify: center, $align: center);
    cursor: pointer;
    transition: all ease-in-out 100ms;
    border: none;
    padding: 10px;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &:hover {
        scale: 1.03;
    }
}

.countNumber {
    @include absolute($top: 50%);
    font-size: 70px;
}

.overview-card-header {
    @include absolute($top: 0);
    @include flex($justify: center);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}