<section>

  <h1>Welcome User</h1>

  <div class="users-overview-row">

    <div class="clock-container">
      <div class="clockTime">{{clock}}</div>

    </div>

  </div>



  <div class="users-overview-row">
    <h1>Total Users</h1>
    <div class="card-container">
      
      <mat-card [ngClass]="{'card-darkMode': isDarkMode, 'card-lightMode': !isDarkMode}" appearance="outlined">
        <h2>Users</h2>
        <mat-card-content class="countNumber">
          {{users.length}}
        </mat-card-content>
      </mat-card>


      <mat-card [ngClass]="{'card-darkMode': isDarkMode, 'card-lightMode': !isDarkMode}" appearance="outlined">
        <h2>Customers</h2>
        <mat-card-content class="countNumber">
          {{customer.length}}
        </mat-card-content>
      </mat-card>


      <mat-card [ngClass]="{'card-darkMode': isDarkMode, 'card-lightMode': !isDarkMode}" appearance="outlined">
        <h2>Total</h2>
        <mat-card-content class="countNumber">
          {{users.length + customer.length}}
        </mat-card-content>
      </mat-card>

    </div>
  </div>


</section>