<section>

  <h1>Welcome User</h1>

  <h1>Total Users</h1>

  <div class="users-overview-row">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Users</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{users.length}}
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Customers</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{users.length}}
      </mat-card-content>
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Total</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{users.length}}
      </mat-card-content>
    </mat-card>
  </div>


</section>