@import './../shared/scss/mixins.scss';
@import './../shared/scss/keyframes.scss';


.wrapper-center {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container {
    @include flex($direction: column, $justify: center);
    width: 100%;
    max-width: 1440px;
    height: 100%;
    gap: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.weather-time-overview-row {
    @include grid-layout(1fr 1fr 2fr, 20px);
    height: 250px;
    border: solid 5px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.2s);

    @include respond-to('desktop') {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "weather weather";
        height: 500px;

        .weather-box {
            grid-column: 1 / -1;
        }
    }


    @include respond-to('tablet') {
        padding: 20px;
    }

    @include respond-to('phone-landscape') {
        padding: 5px;
        gap: 5px;
    }

    @include respond-to('phone') {
        padding: 5px;
        gap: 5px;
    }
}


.users-overview-row {
    @include grid-layout(1fr 1fr 1fr, 20px);
    height: 250px;
    border: solid 5px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.4s);

    @include respond-to('desktop') {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "weather weather";
        height: 500px;

        .total-box {
            grid-column: 1 / -1;
        }
    }


    @include respond-to('tablet') {
        padding: 20px;
    }

    @include respond-to('phone-landscape') {
        padding: 10px;
        gap: 10px;
    }

    @include respond-to('phone-landscape') {
        padding: 5px;
        gap: 5px;
    }
}


.chart-overview-row {
    height: 250px;
    border: solid 5px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.6s);


    @include respond-to('tablet') {
        padding: 20px;
    }

    @include respond-to('phone-landscape') {
        padding: 10px;
    }

    @include respond-to('phone') {
        padding: 5px;
    }
}


.todos-notes-overview-row {
    @include grid-layout(1fr 1fr, 20px);
    height: fit-content;
    border: solid 5px rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.6s);


    @include respond-to('desktop') {
        grid-template-columns: 1fr;
    }

    @include respond-to('tablet') {
        padding: 20px;
    }

    @include respond-to('phone-landscape') {
        padding: 10px;
        gap: 10px;
    }

    @include respond-to('phone') {
        padding: 5px;
        gap: 5px;
    }

}