@import './../shared/scss/mixins.scss';


section {
    @include flex($direction: column, $justify: center);
    width: 100%;
    height: 100%;
    gap: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


.weather-time-overview-row{
    display: grid;
    grid-template-columns:1fr 1fr 2fr; /* 3 Spalten */
    height: 250px;
    gap: 10px;
    border: solid 5px rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
}

.users-overview-row {
    @include flex($direction: column, $justify: space-between);
    height: 250px;
    gap: 10px;
    border: solid 5px rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
}

.users-card-container {
    @include flex();
    width: 100%;
    height: 100%;
    gap: 20px;
}


app-user-overwiew-card {
    width: 100%;
    height: 100%;
}