@import './../shared/scss/mixins.scss';
@import './../shared/scss/keyframes.scss';


section {
    @include flex($direction: column, $justify: center);
    width: 100%;
    height: 100%;
    gap: 20px;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.headline {
    display: flex;
    font-size: 78px;
    padding: 50px;
}


.headline span {
    opacity: 0;
    transform: translateY(-20px);
    animation: appear 0.5s forwards;
}

/* Verzögere die Animation für jeden Buchstaben */
.headline span:nth-child(1) {
    animation-delay: 0s;
}

.headline span:nth-child(2) {
    animation-delay: 0.02s;
}

.headline span:nth-child(3) {
    animation-delay: 0.04s;
}

.headline span:nth-child(4) {
    animation-delay: 0.06s;
}

.headline span:nth-child(5) {
    animation-delay: 0.08s;
}

.headline span:nth-child(6) {
    animation-delay: 0.10s;
}

.headline span:nth-child(7) {
    animation-delay: 0.12s;
}

.headline span:nth-child(8) {
    animation-delay: 0.14s;
}

.headline span:nth-child(9) {
    animation-delay: 0.16s;
}

.headline span:nth-child(10) {
    animation-delay: 0.18s;
}

.headline span:nth-child(11) {
    animation-delay: 0.20s;
}

.headline span:nth-child(12) {
    animation-delay: 0.22s;
}

.weather-time-overview-row {
    @include grid-layout(1fr 1fr 2fr, 20px);
    height: 250px;
    border: solid 5px rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.2s);
}

.users-overview-row {
    @include grid-layout(1fr 1fr 1fr, 20px);
    height: 250px;
    border: solid 5px rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.4s);
}

.todos-notes-overview-row {
    @include grid-layout(1fr 1fr, 20px);
    height: 250px;
    border: solid 5px rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 20px;
    @include slideInAnimation(0.6s);
}
