<section>

  <h1>Welcome User</h1>

  <div class="weather-time-overview-row">
    <app-date-box></app-date-box>
    <app-clock></app-clock>
    <app-weather></app-weather>
  </div>

  <div class="users-overview-row">
    <h1>Total Users</h1>
    <div class="users-card-container">
      <app-user-overwiew-card [title]="'Users'" [count]="users.length"></app-user-overwiew-card>
      <app-user-overwiew-card [title]="'Customers'" [count]="customer.length"></app-user-overwiew-card>
      <app-user-overwiew-card [title]="'Total'" [count]="users.length + customer.length"></app-user-overwiew-card>
    </div>
  </div>

</section>