@import './app/shared/scss/keyframes.scss';
@import './app/shared/scss/mixins.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    // font-family: ;
}

* {
    font-family: 'Poppins';
    font-weight: bold;

    scrollbar-width: thin;
    scrollbar-color: rgb(141, 190, 252) rgb(23, 30, 61);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(23, 30, 61);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(141, 190, 252);
    border-radius: 10px;
    transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(141, 190, 252, 0.8);
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/assets/fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}


.mr-16 {
    margin-right: 16px;
}

.full-width {
    width: 100%;
}

.mt-32 {
    margin-top: 32px;
}

.dialog-container {
    position: relative;
    padding: 24px;

    mat-progress-bar {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
}

.gust {
    background-color: #BDC3C7;
}

.admin {
    background-color: #FF5733;
}

.manager {
    background-color: #33A2FF;
}

.support {
    background-color: #50C878;
}

.sales {
    background-color: #FFC300;
}

.marketing {
    background-color: #E74C3C;
}

.finance {
    background-color: #8E44AD;
}

.external {
    background-color: #328785;
}

.developer {
    background-color: #2C3E50;
}




.headline {
    display: flex;
    font-size: 60px;
    padding: 50px;
    color: whitesmoke;
}

.headline span {
    opacity: 0;
    transform: translateY(-20px);
    animation: appear 0.5s forwards;
}


/* Verzögere die Animation für jeden Buchstaben */
.headline span:nth-child(1) {
    animation-delay: 0s;
}

.headline span:nth-child(2) {
    animation-delay: 0.02s;
}

.headline span:nth-child(3) {
    animation-delay: 0.04s;
}

.headline span:nth-child(4) {
    animation-delay: 0.06s;
}

.headline span:nth-child(5) {
    animation-delay: 0.08s;
}

.headline span:nth-child(6) {
    animation-delay: 0.10s;
}

.headline span:nth-child(7) {
    animation-delay: 0.12s;
}

.headline span:nth-child(8) {
    animation-delay: 0.14s;
}

.headline span:nth-child(9) {
    animation-delay: 0.16s;
}

.headline span:nth-child(10) {
    animation-delay: 0.18s;
}

.headline span:nth-child(11) {
    animation-delay: 0.20s;
}

.headline span:nth-child(12) {
    animation-delay: 0.22s;
}