@import './../../shared/scss/mixins.scss';
@import './../../shared/scss/theme.scss';


.clock-container {
    position: relative;
    @include flex($align: center, $justify: center);
    border-radius: 20px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
    transition: all ease-in-out 100ms;
    min-width: 142px;

    &:hover {
        scale: 1.03;
    }
}

.clock-header {
    @include absolute($top: 0);
    @include flex($justify: center);
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

.clock-footer {
    @include absolute($bottom: 0);
    padding: 20px;

    @include respond-to('l-desktop') {
        font-size: 14px;
    }
}

.clockTime {
    @include absolute($top: 50%);
    font-size: 70px;

    @include respond-to('l-desktop') {
        font-size: 54px;
    }

    @include respond-to('phone-landscape') {
        font-size: 44px;
    }
}