<div class="headline">
    <!-- Calendar -->
    <span>C</span>
    <span>a</span>
    <span>l</span>
    <span>e</span>
    <span>n</span>
    <span>d</span>
    <span>a</span>
    <span>r</span>

</div>


<div class="header">
    <button (click)="calendar.changeMonth(-1)">‹</button>
    <h2>{{ calendar.getMonthName() }} {{ calendar.getYear() }}</h2>
    <button (click)="calendar.changeMonth(1)">›</button>
</div>



<section>

    @for (dayInfo of calendar.daysInMonth; track $index) {
        <app-day-grid [dayNumber]="dayInfo.day" [dayName]="dayInfo.dayName" [index]="$index" [isToday]="dayInfo.isToday"></app-day-grid>
        }


</section>